@import "tailwindcss";
@import "katex/dist/katex.min.css";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@layer base {
    :root {
        --color-bg: #eceff4;
        --color-surface: #e5e9f0;

        --color-surface-hover: #d8dee9;
        --color-shadow: #d8dee9;
        --color-border: #d8dee9;

        --color-text-primary: #2e3440;
        --color-text-muted: #434c5e;
    }

    .dark {
        --color-bg: #2e3440;
        --color-surface: #434c5e;

        --color-surface-hover: #3b4252;
        --color-shadow: #3b4252;
        --color-border: #3b4252;

        --color-text-primary: #eceff4;
        --color-text-muted: #d8dee9;
    }

    body {
        background-color: var(--color-bg);
        color: var(--color-text-primary);
        font-family: var(--font-sans);
    }
}

@theme {
    --color-background: var(--color-bg);
    --color-surface: var(--color-surface);
    --color-surface-hover: var(--color-surface-hover);
    --color-shadow-nord: var(--color-shadow);
    --color-border: var(--color-border);
    --color-text: var(--color-text-primary);
    --color-muted: var(--color-text-muted);
    --font-sans: var(--font-noto-serif), serif;
    --font-serif: var(--font-noto-serif), serif;
    --font-display: var(--font-display);
}

@layer base {
    .theme-transitions-enabled * {
        transition-property: background-color, border-color, color, fill, stroke, box-shadow;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 1000ms;
    }

}

@keyframes skeleton-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* .prose pre { */
/*     background-color: var(--shiki-light-bg); */
/* } */
/**/
.prose pre code,
.prose pre code span {
    color: var(--shiki-light);
    background-color: var(--color-surface);
}

html.dark .prose pre code,
html.dark .prose pre code span {
    color: var(--shiki-dark);
    background-color: var(--color-surface);
}


.prose {
    --tw-prose-body: var(--color-text-primary);
    --tw-prose-headings: var(--color-text-primary);
    --tw-prose-lead: var(--color-text-muted);
    --tw-prose-links: var(--color-text-primary);
    --tw-prose-bold: var(--color-text-primary);
    --tw-prose-counters: var(--color-text-muted);
    --tw-prose-bullets: var(--color-text-muted);
    --tw-prose-hr: var(--color-border);
    --tw-prose-quotes: var(--color-text-primary);
    --tw-prose-quote-borders: var(--color-border);
    --tw-prose-captions: var(--color-text-muted);
    --tw-prose-code: var(--color-text-primary);
    --tw-prose-pre-code: var(--color-text-primary);
    --tw-prose-th-borders: var(--color-border);
    --tw-prose-pre-bg: var(--color-surface);
    --tw-prose-td-borders: var(--color-border);
    --tw-prose-invert-body: var(--color-text-primary);
    --tw-prose-invert-headings: var(--color-text-primary);
    --tw-prose-invert-lead: var(--color-text-muted);
    --tw-prose-invert-links: var(--color-text-primary);
    --tw-prose-invert-bold: var(--color-text-primary);
    --tw-prose-invert-counters: var(--color-text-muted);
    --tw-prose-invert-bullets: var(--color-text-muted);
    --tw-prose-invert-hr: var(--color-border);
    --tw-prose-invert-quotes: var(--color-text-primary);
    --tw-prose-invert-quote-borders: var(--color-border);
    --tw-prose-invert-captions: var(--color-text-muted);
    --tw-prose-invert-code: var(--color-text-primary);
    --tw-prose-invert-pre-code: var(--color-text-primary);
    --tw-prose-invert-pre-bg: var(--color-surface);
    --tw-prose-invert-th-borders: var(--color-border);
    --tw-prose-invert-td-borders: var(--color-border);
}

code[data-line-numbers] {
    counter-reset: line;
}

code[data-line-numbers]>[data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 1.5rem;
    text-align: right;
    color: var(--color-text-muted);
    font-family: var(--font-blex-mono), monospace, sans-serif !important;
    opacity: 0.6;
}
